fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pydantic
pydantic-settings
httpx
dnspython
tldextract
email-validator
joblib
scikit-learn
passlib
bcrypt==4.0.1
python-jose
beautifulsoup4
lxml
ipwhois
python-whois
